.photoContainer {
    max-width: 100%;
}

.imgBox-top {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.profile-logo {
    width: 50px;
    border-radius: 50%;
    padding: 10px;
}

.three-dots {
    width: 10px;
    height: 10px;
    margin-left: auto;
    margin-right: 20px;
}